* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 5rem;
}

/* HEADER */
.header {
  background-color: #1f2937;
}

/* NAV */
.navigation {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  align-items: center;
}

.logo {
  color: #f9faf8;
  font-size: 2.4rem;
}

.navigation ul {
  display: flex;
  gap: 3rem;
}

.navigation ul a {
  color: #e5e7eb;
  font-size: 1.8rem;
}

/* HEADER SECTION */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7rem;
}

.header-left {
  width: 50%;
}

.header-right {
  width: 35%;
}

.img-header {
  width: 100%;
}

.heading-primary {
  font-size: 4.8rem;
  font-weight: bolder;
  color: #f9faf8;
  line-height: 1;
  margin-bottom: 1rem;
}

.paragraph-header {
  font-size: 1.8rem;
  color: #e5e7eb;
  margin-bottom: 1rem;
}

.btn {
  background-color: #3883f6;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

/* SECTION TWO */
.section-two {
  padding-bottom: 7rem;
}
.heading-secondary {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 3.6rem;
  font-weight: bolder;
  color: #1f2937;
  padding-top: 3rem;
}
.section-two-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.row {
  width: 20%;
  min-width: 15rem;
}

.img-section-two {
  width: 90%;
  border-radius: 0.8rem;
}

.row p {
  text-align: center;
  color: #1f2937;
  font-size: 1.8rem;
}

/* SECTION THREE */
.container-three {
  max-width: 80rem;
  margin: 0 auto;
}

.section-three {
  background-color: #e5e7eb;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.quote {
  color: #1f2937;
  font-size: 3.6rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.quote-who {
  font-size: 2rem;
  text-align: right;
}

/* SECTION FOUR */
.section-four {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.cta {
  background-color: #3883f6;
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cta {
  color: #fff;
}

.cta-paragraph-one {
  font-size: 1.8rem;
  font-weight: bold;
}

.cta-paragraph-two {
  font-size: 1.5rem;
  color: #e5e7eb;
}

.btn-two {
  color: #fff;
  border: 0.2rem solid #fff;
}
